* {
    margin:0;
    padding:0;
    background-color: #B19FF9;
    /* #FADCD9 */
}
html,body {
    height: 100%;
    width:100%;
    box-sizing: border-box;
    font-family: 'montserrat';
}
.nav {
    height:90px;
    width:100%;
    /* background-color: #F0F8FF; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
.nav h1 {
    font-size:24px;
    font-weight:400;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: 50px; 
}
.nav h3{
    color:#B19FF9;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.nav h3:hover{
    color:#3a229b;
}


.container {
    margin:100px 0 0 200px;
    width:70%;
    height:450px;
    display: flex;
    justify-content: center;
    gap:10px;
    /* background-image: url("C:\Users\KIIT0001\Downloads\nasa-8Hjx3GNZYeA-unsplash.jpg") | none | initial | inherit; */
}
.container img {
    width:10%;
    height:100%;
    object-fit:cover;
    border-radius: 10%;
    border: 2px solid whitesmoke;
    transition: all ease-in-out 0.5s;
}
.container img:hover {
    width:25%
}